.profile {
  * h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
  & ul {
    list-style: none !important;
  }
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  &__requests {
    width: 40%;
    padding: 30px;
    & h1 {
      font-size: 24px;
      opacity: 0.6;
      font-style: italic;
    }
    &--item {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  &__avatar {
    width: 70px !important;
    height: 70px !important;
    font-size: 28px !important;
  }
  &__email {
    padding: 10px;
    color: rgba($color: #ffffff, $alpha: 0.5);
  }
  &__title {
    font-size: 24px;
    font-style: italic;
    padding-top: 16px;
  }
  &__project {
    margin-top: 40px;
    width: 60%;
    border-radius: 20px;
    background-color: rgba(var(--callout-rgb), 0.5);
    border: 1px solid rgba(var(--callout-border-rgb), 0.3);
    &--item {
      padding: 15px 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    & * li h1 {
      font-size: 12px;
    }
    & * li h3 {
      font-size: 14px;
      opacity: 0.5;
    }

    & * li b {
      font-size: 16px;
      opacity: 0.5;
    }
    & * li:first-child {
      border-top: 1px solid rgba(var(--callout-border-rgb), 0.3);
    }
  }
}

.profile__requests--loader {
 padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
